Repository remarkablemark/vimtutor: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "src/**/*.{json,css}": [
    "prettier --write",
  "git add"
  ],
  "*.md": [
    "prettier --write",
  "git add"
  ]
}

chore: add `raw-loader` so text can be imported
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  package.json
Due: npm run lint:fix

feat: add text file of vimtutor (version 1.7)
  src/vimtutor.txt
Due: none

feat: render vimtutor text in CodeMirror editor
  public/index.html
  public/manifest.json
  src/index.css
  src/index.js
Due: npm run lint:fix, prettier --write

chore(license): remove MIT license
  LICENSE
  README.md
  package.json
Due: prettier --write

chore(package): update fields like title, description, url
  package.json
Due: none

docs(readme): update with project info and add acknowledgements
  README.md
Due: prettier --write

chore(release): 0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(package): add `--no-verify` back to `release` script
  package.json
Due: none

gitploy
  asset-manifest.json
  index.html
  service-worker.js
  static/js/main.7c44635f.js
  static/js/main.7c44635f.js.map
Due: npm run lint:fix
